/****************************************
  * Flash Messages / Notifications
  ***************************************/

.flash-banner button {
  float: right;
  font-size: 90%;
  padding: 2px 4px 2px 4px;
  margin: 0;
  line-height: 0.9;
}

/****************************************
  * Package Summaries
  ***************************************/

ul.package-tags, #content ul.package-tags {
  margin: 0;
  padding: 0;
}

ul.package-tags li {
    display:inline;
    margin:0;
    padding:0 5px 2px 5px;
    border:none;
    font-weight:normal;
    font-size:0.8em;
    color: black;
    background:#afc6e9;
}

#config-form input {
  line-height: 12px;
}

#sitetitle {
  width: 400px;
}

#access {
  float: right;
  clear: right;
  margin-top: 5px;
  padding: 4px 0px;
  width: auto;
  border: none;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: #f1f1f1;
}

#access .menu-header, div.menu {
  width: auto;
}

#access div.menu li {
  border-right: solid 1px #ccc;
  border-left: solid 1px #d2d2d2;
  padding: 4px 5px;
}

#access div.menu li.first {
  border-left: none;
}

#access div.menu li.last {
  border-right: none;
}

#access a {
  line-height: 18px;
  text-shadow: white 1px 1px 0;
}

#access li:hover > a, #access ul ul :hover > a {
  background: none;
}


/****************************************
  * Forms
  ***************************************/

.instructions {
  font-size: 75%;
}

