<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CKAN Javascript Client</title>

  <link rel="shortcut icon" href="http://assets.okfn.org/p/ckan/img/ckan.ico" type="image/x-icon" /> 

  <link rel="stylesheet" href="http://ckan.net/css/style.css" type="text/css" media="screen, print" />
  <!-- local cached copy -->
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen, print" />
  <link rel="stylesheet" href="ckanjs.css" type="text/css" media="screen, print" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

  <script src="vendor/jquery/1.4.4/jquery.min.js"></script>
  <script src="vendor/jquery.tmpl/beta1/jquery.tmpl.min.js"></script>
  <script src="vendor/showdown/showdown.js"></script>
  <script src="vendor/jquery.jeditable/1.7.2/jquery.jeditable.min.js"></script>

  <script src="config.js"></script>
  <script src="configlocal.js"></script>
  <script src="ckan.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      CKAN.initialize();
      $('input.search').val('russian');
      $('#search-form').submit();
    });
  </script>

  <script id="tmpl-package-summary" type="text/html">
    <li class="ckan-package" ckan-package-id="${package.id}">
      <div class="header">
        <span class="title" >
          <a href="${ckan_url}" ckan-attrname="title" class="editable">${displaytitle}</a>
        </span>
        <div class="search_meta">
          {{if package.resources.length}}
          <ul class="package_formats">
            {{each package.resources}}
              <li>${$value.format}</li>
            {{/each}}
          </ul>
          {{/if}}
        </div>
      </div>
      <div class="extract editable-area">
        {{html package.snippet}}
      </div>
      <div class="package-tags">
        {{if package.tags.length}}
        <ul class="package-tags">
          {{each package.tags}}
            <li>${$value}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </li>
  </script>

  <style>
    #search-form {
      margin-bottom: 30px;
    }
  </style>
</head>
<body>
<div id="wrapper" class="hfeed">
  <div id="header">
  <div id="masthead">
    <div id="branding" role="banner">
    <h1 id="site-title">CKAN from Javascript</h1>
  </div><!-- #masthead -->
  </div><!-- #header -->  

  <div id="main"> 
    <div id="container"> 
      <div id="content" role="main"> 

        <form id="search-form">
          <input type="search" name="q" placeholder="Search ..." class="search" />
          <input type="submit" name="submit" value="Search" />
        </form>

        <div id="dialog">
        </div>

        <div id="results" style="display: none;">
          <h3>Results</h3>
          <p>
          <strong><span class="count"></span></strong> results found.
          </p>

          <ul class="packages">
          </ul>
        </div>

      </div> <!-- #content -->
    </div> <!-- #container -->
  </div><!-- #main -->

</div><!-- #wrapper -->
</body>
</html>

