<script id="tmpl-package-summary" type="x-jquery-tmpl">
  <li class="ckan-package" ckan-package-id="${package.id}">
    <div class="header">
      <span class="title" >
        <a href="${ckan_url}" ckan-attrname="title" class="editable">${displaytitle}</a>
      </span>
      <div class="search_meta">
        {{if package.resources.length}}
        <ul class="package_formats">
          {{each package.resources}}
            <li>${$value.format}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </div>
    <div class="extract editable-area">
      {{html package.snippet()}}
    </div>
    <div class="package-tags">
      {{if package.tags.length}}
      <ul class="package-tags">
        {{each package.tags}}
          <li>${$value}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
  </li>
</script>

<script id="tmpl-package-form" type="x-jquery-tmpl">

  <h2>Add a New Dataset</h2>
  <form>
  <fieldset>
    <legend>
      Basic information
    </legend>
    <dl>
      <dt>
        <label class="field_opt" for="Package--title">
          Title
        </label>
      </dt>
      <dd>
        <input id="Package--title" name="Package--title" type="text" />
      </dd>
      <dd class="instructions basic">A short descriptive title for the data set.</dd>
      <dd class="instructions further">It should not be a description though - save that for the Notes field. Do not give a trailing full stop.</dd>

      <dt>
        <label class="field_req" for="Package--name">
          Name *
        </label>
      </dt>
      <dd>
        <input id="Package--name" maxlength="100" name="Package--name" type="text" />
      </dd>
      <dd class="instructions basic">A unique identifier for the package.</dd>
      <dd class="instructions further">It should be broadly humanly readable, in the spirit of Semantic Web URIs. Only use an acronym if it is widely recognised. Renaming is possible but discouraged.</dd>
      <dd class="hints">2+ characters, lowercase, using only 'a-z0-9' and '-_'</dd>

      <dt>
        <label class="field_opt" for="Package--url">
          URL
        </label>
      </dt>
      <dd>
        <input id="Package--url" name="Package--url" type="text" />
      </dd>
      <dd class="instructions basic">The URL for the web page describing the data (not the data itself).</dd>
      <dd class="hints">e.g. http://www.example.com/growth-figures.html</dd>

      <dt>
        <label class="field_opt" for="Package--notes">
          Notes
        </label>
      </dt>
      <dd>
        <textarea cols="60" id="Package--notes" name="Package--notes" rows="15"></textarea>
      </dd>
      <dd class="instructions basic">The main description of the dataset</dd>
      <dd class="instructions further">It is often displayed with the package title. In particular, it should start with a short sentence that describes the data set succinctly, because the first few words alone may be used in some views of the data sets.</dd>
      <dd class="hints">You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown formatting</a> here.</dd>

      <dt>
        <label class="field_opt" for="Package--license_id">
          Licence
        </label>
      </dt>
      <dd>
        <select id="Package--license_id" name="Package--license_id">
          <option selected="selected" value=""></option>
          <option value="notspecified">Other::License Not Specified</option>
        </select>
      </dd>
      <dd class="instructions basic">The licence under which the dataset is released.</dd>

      <dt>
        <label class="field_opt" for="Package--tags">
          Tags
        </label>
      </dt>
      <dd>
        <input class="long tagComplete" data-tagcomplete-queryparam="incomplete" data-tagcomplete-url="/api/2/util/tag/autocomplete" id="Package--tags" name="Package--tags" size="60" type="text" value="" />
      </dd>
      <dd class="instructions basic">Terms that may link this dataset to similar ones. For more information on conventions, see <a href="http://wiki.okfn.org/ckan/doc/faq#TagConventions">this wiki page</a>.</dd>
      <dd class="hints">e.g. pollution rivers water-quality</dd>
    </dl>
  </fieldset>

    <div class="submit">
      <input id="save" name="save" type="submit" value="Save" />
    </div>
    <p class="hints">
    <strong>Important:</strong> By submitting content, you agree to release your contributions
      under the open license specified on the <a href="/license">license page</a>. Please <strong>refrain</strong> from editing this page if you are <strong>not</strong> happy to do this.
    </p>
  </form>
</script>

